*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: #333333;
    font-weight: bolder;
}
section{
background-color: #333333;
}
.works{
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}
.work{
    width: calc(30% - 1%);
    overflow: hidden;
    border-radius: 6px;
    text-decoration: none;
    margin: 10px 0px;
    color: white;
}
.work img{
    width: 100%;
    transition: 0.4s;
}
.work img:hover{
    transform: scale(1.1);
}